table {
    border: solid 1px black;
}

tr {
    border: solid 1px black;
}

th {
    border: solid 1px black;
    font-weight: 700;
    text-align: center;
}

td {
    border: solid 1px black;
    padding-left: 5px;
}

.b7{
    font-weight: 700;
}

.r{
    margin-top: 35px;
}

.t{
    margin-left: 18px;margin-top: 10px;
    text-align: center;
}