<div style="background: grey; height: auto; padding: 10px;">
    <a o onclick="window.print()"class="btn btn-lg" style="
                color: #343a40;
                background-color: #fff;
                height: auto;
                padding: 1%;">
            <i class="fas fa-print"></i> Print
        </a> 
    <button type="button" class="close pull-right" aria-label="Close" onclick="window.history.back()">
        <i class="fa fa-times mb-3 animated rotateIn"></i>
    </button>  
    
    <div id="momtes" class="container" style="background: white; height: 100%; padding: 30px 80px 15px 80px;">
        <div class="container" >
            <div class="row">
                <!-- <div style="width:100%">
                    <h6 style="text-align:right">BTSMOM/03012019/001</h6>
                </div> -->
                <div style="width:100%">
                        <h6 style="text-align:right">{{noTiket[2].title}}</h6>
                </div>
                <div class="col-12" style="width: 100%; height: 300px; padding:0px;">
                    <table style="width: 100%;">
                        <tr>
                            <th colspan="3" style="text-align: center;">
                                <h3 class="b7" style="width:100%;">MINUTES OF MEETING</h3>
                                <h4 class="b7">TELKOMSEL</h4>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width:35%;">
                                <div>Distribution:</div>
                                <div class="b7">VP NIM</div>
                                <div class="b7">VP NOM</div>
                                <div class="b7">VP NDS</div>
                                <div class="b7">VP NPE</div>
                            </td>
                            <td style="width:35%;">
                                <div>Moderator:</div>
                                <div>Hady Januardi</div>
                            </td>
                            <td rowspan="2" style="width:30%;padding:10px;">
                                <img src="tableList/assets/image/telkomsel.png" style="width: 260px; height: 100px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>MOM Writter:</div>
                                <div>Hady Januardi</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="b7">Date:</div>
                                <!-- <div>11 Oktober 2018</div> -->
                                <!-- <div>{{dateStr()}}</div> -->
                                <p>
                                    <!-- <span id="datetime"></span> -->
                                    12 - <span id="bulan9"></span> - <span id="tahun9"></span>
                                </p>
                            </td>
                            <td>
                                <div class="b7">From - To:</div>
                                <div>15.30 - 17.00 WIB</div>
                            </td>
                            <td>
                                <div class="b7">Location:</div>
                                <div>TSO 8th Floor</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 class="b7">Subject : Laporan BTS On Air Bulan <span id="bulan"></span> - <span id="tahun"></span></h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row r">
                <div class="b7">Latar Belakang:</div>
                <div>1. Menunjukkan Keputusan Direktur Perseroan No. 022/NF.01/NT-00/VI/2014 tertanggal 18 Juni 2014 tentang Kebijakan RAN Planning Guideline Direktur Network Perseroan.</div>
                <!-- <div>2. Nodin GM RAN & CORE Network Deployment No. 095/TC.01/NL-11/X/2018 tertanggal 1 oktober 2018 tentang Pelaporan On Air New Site dan Modernisasi Bulan September 2018.</div> -->
                <div>2. Nodin GM RAN & CORE Network Deployment No. 095/TC.01/NL-11/X/2018 tertanggal 4 <span id="bulan7"></span> - <span id="tahun7"></span> tentang Pelaporan On Air New Site dan Modernisasi Bulan <span id="bulan2"></span> - <span id="tahun2"></span>.</div>
                <!-- <div>3. Data gathering sysinfo September 2018 oleh RANOP</div> -->
                <!-- <div>3. Data gathering sysinfo <span id="bulan6"></span> - <span id="tahun6"></span> oleh RANOP</div> -->
                <div>3. Baseline Data report BTS On Air periode <span id="bulan10"></span> - <span id="tahun10"></span></div>
            </div>
            <div class="row r">
                <div class="b7">Kesepakatan:</div>
                <!-- <div>1. Sesuai report pembangunan BTS on-air dan site existing dari hasil rekon SYSINFO regional berikut pertumbuhan jumlah BTS dan site untuk periode 1 - 30 September 2018:</div> -->
                <div>1. Sesuai report pembangunan BTS on-air dan site existing dari hasil rekon SYSINFO regional berikut pertumbuhan jumlah BTS dan site untuk periode 1 - 28 <span id="bulan3"></span> - <span id="tahun3"></span>:</div>
                <div style="padding-left: 18px;">
                    <table>  
                        <tr>
                          <th style="background:#f10700">Radio Network Capacity Built
                              <br>
                              (Unit)
                          </th>
                          <th *ngFor="let i of momTable1.reverse()" style="background:#9dc1e5">{{dateStr(i.date)}}</th>
                        </tr>
                        <tr>
                          <td>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 2G - On Air this year</div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 2G - Dismantled </div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 2G -Total On Air</div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - On this year</div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - Dismantled </div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - Total On Air</div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - On this year</div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - Dismantled </div>
                            <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - Total On Air</div>
                            <div style="width: 100%;border-bottom: 1px solid;">TRX - On Air this year</div>
                            <div style="width: 100%;border-bottom: 1px solid;">TRX - Dismantled </div>
                            <div style="width: 100%;border-bottom: 1px solid;">TRX - Total On Air</div>
                            <div style="width: 100%;border-bottom: 1px solid;">Jumlah BTS (2G, 3G & 4G) </div>
                            <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 2G Only</div>
                            <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 3G Only</div>
                            <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 4G Only </div>
                            <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 2G 3G & 4G</div>
                            <div style="width: 100%;">Total Jumlah Site </div>
                          </td>
                          <td *ngFor="let i of momTable1">
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_2g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_2g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.total_2g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_3g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_3g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.total_3g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_4g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_4g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.total_4g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_trx}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_trx}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.total_trx}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.total_all}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.only_2g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.only_3g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.only_4g}}</div>
                              <div style="width: 100%;border-bottom: 1px solid;">{{i.collocation}}</div>
                              <div style="width: 100%;">{{i.total_all_site}}</div>
                          </td>   
                        </tr> 
                      </table>
                </div>        
            </div>
            <div class="row r">
                <div style="width: 100%">Detail jumlah BTSOn Air per Regional sbb:</div>
                <div>
                    <table class="table-pdf t">
                        <tr>
                            <!-- <th colspan="7" style="width:450px;text-align:center;">Resume SysInfo SEPTEMBER 2018</th>  -->
                            <th colspan="7" style="width:450px;text-align:center;background: #dbe0f3">Resume SysInfo <span id="bulan4"></span> - <span id="tahun4"></span></th>
                                                     
                        </tr>
                        <tr style="background:#e4efdf">
                            <th rowspan="2" >No</th>
                            <th rowspan="2">Regional</th>
                            <th colspan="2">2G</th>
                            <th colspan="2">3G</th>
                            <th colspan="2">4G</th>
                        </tr>
                        <tr style="background:#e4efdf">
                            <th>BSC</th>
                            <th>BTS</th>
                            <th>RNC</th>
                            <th>NODEB</th>
                            <th>ENODEB</th>
                        </tr>
                        <tr *ngFor="let i of momTable2; let no=index" [attr.data-index]="no">
                            <td style="text-align: center;">{{no+1}}</td>
                            <th>{{i.regional}}</th>
                            <td style="text-align: right;">{{i.data1}}</td>
                            <td style="text-align: right;">{{i.data2}}</td>
                            <td style="text-align: right;">{{i.data3}}</td>
                            <td style="text-align: right;">{{i.data4}}</td>
                            <td style="text-align: right;">{{i.data5}}</td>
                        </tr>
                        <!-- <tr style="background:#e4efdf">
                            <th colspan="2" >TOTAL</th>
                            <th style="text-align: right;">477</th>
                            <th style="text-align: right;">50309</th>
                            <th style="text-align: right;">348</th>
                            <th style="text-align: right;">82117</th>
                            <th style="text-align: right;">59889</th>
                        </tr> -->
                    </table>
                </div>                
            </div>
            <!-- <div class="row r">
                <div style="width: 100%">2. Dismantle Period September 2018</div>
                <div style="width: 100%">2. Dismantle Period <span id="bulan5"></span> - <span id="tahun5"></span></div>
                <table class="t" style="width: 960px;">
                    <tr>
                        <th style="width: 100px;">Region</th>
                        <th style="width: 80px;">Vendor</th>
                        <th style="width: 70px;">NeId</th>
                        <th style="width: 280px;">Enodeb Name</th>
                        <th style="width: 95px;">Band</th>
                        <th style="width: auto;">SiteId*</th>
                        <th style="width: 95px;">Band</th>
                        <th style="width: auto;">Remark</th>
                    </tr>
                    <tr *ngFor="let i of momTableDismantle">
                        <td>{{i.region}}</td>
                        <td>{{i.vendor}}</td>
                        <td>{{i.ne_id}}</td>
                        <td>{{i.enodeb_name}}</td>
                        <td>{{i.band}}</td>
                        <td>{{i.siteid}}</td>
                        <td>{{i.band_type}}</td>
                        <td>{{i.remark}}</td>
                    </tr>
                </table>
            </div> -->
            <!-- <div class="row r">
                <div>3. Butuh klarifikasi achievement NEID 4G  bulan November dan Desember 2018, karena databasenya tidak ada di STYLO. Target follow up RAND dan RAO tanggal 25 Oktober 2018</div>
                <div>3. Butuh klarifikasi achievement NEID 4G  bulan November dan Desember 2018, karena databasenya tidak ada di STYLO. Target follow up RAND dan RAO tanggal 25-<span id="bulan8"></span>-<span id="tahun8"></span>.</div>
                <div class="t" style="width: 100%">Achievement Juni 2018</div>
                <table class="t" style="width: 900px;">
                    <tr>
                        <th>Region</th>
                        <th>Vendor</th>
                        <th>SiteNo</th>
                        <th>OSS Site Name</th>
                        <th>BAND</th>
                        <th>BANDTYPE</th>
                        <th>Remark</th>
                    </tr>
                    <tr *ngFor="let i of momTableSummaryCheck">
                        <td>{{i.region}}</td>
                        <td>{{i.vendor}}</td>
                        <td>{{i.siteno}}</td>
                        <td>{{i.oss_site_name}}</td>
                        <td>{{i.band}}</td>
                        <td>{{i.band_type}}</td>
                        <td>{{i.remark}}</td>
                    </tr>
                </table>
            </div> -->
            <!-- <div class="row r">
                <div>4. Need crosscheck ulang, pending item activity dismantle dan relokasi yang belum ada BAPA, akan di follow up rekan Network Asset Management ke Regional.</div>
                <div style="width: 100%">Remark Dismantle hasil sysinfo Jan - Desember 2018.</div>
                <table class="t">
                    <tr style="background:#858182">
                        <th>BAND</th>
                        <th>Rekon Sysinfo</th>
                        <th>REG1</th>
                        <th>REG2</th>
                        <th>REG3</th>
                        <th>REG4</th>
                        <th>REG5</th>
                        <th>REG6</th>
                        <th>REG7</th>
                        <th>REG8</th>
                        <th>REG9</th>
                        <th>REG10</th>
                        <th>REG11</th>
                        <th>Grand Total</th>
                    </tr>

                    **START 2G**
                    <tr style="background:#a6a6a6">
                        <th>2G</th>
                        <th>37</th>
                        <th>15</th>
                        <th>182</th>
                        <th>0</th>
                        <th>16</th>
                        <th>0</th>
                        <th>30</th>
                        <th>19</th>
                        <th>0</th>
                        <th>24</th>
                        <th>6</th>
                        <th>305</th>
                    </tr>
                    <tr *ngFor="let i of momTableNeedCheck;">
                    <tr *ngFor="let i of momTableNeedCheck2G">
                        <td>{{i.band}}</td>
                        <td>{{dateStr(i.date)}}</td>
                        <td>{{i.regional1}}</td>
                        <td>{{i.regional2}}</td>
                        <td>{{i.regional3}}</td>
                        <td>{{i.regional4}}</td>
                        <td>{{i.regional5}}</td>
                        <td>{{i.regional6}}</td>
                        <td>{{i.regional7}}</td>
                        <td>{{i.regional8}}</td>
                        <td>{{i.regional9}}</td>
                        <td>{{i.regional10}}</td>
                        <td>{{i.regional11}}</td>
                        <td>{{i.grand_total}}</td>
                    </tr>

                    **START 3G**
                    <tr style="background:#a6a6a6">
                        <th>3G</th>
                        <th>48</th>
                        <th>105</th>
                        <th>101</th>
                        <th>10</th>
                        <th>359</th>
                        <th>0</th>
                        <th>49</th>
                        <th>10</th>
                        <th>37</th>
                        <th>19</th>
                        <th>29</th>
                        <th>767</th>
                    </tr>
                    <tr *ngFor="let i of momTableNeedCheck3G">
                        <td>{{i.band}}</td>
                        <td>{{dateStr(i.date)}}</td>
                        <td>{{i.regional1}}</td>
                        <td>{{i.regional2}}</td>
                        <td>{{i.regional3}}</td>
                        <td>{{i.regional4}}</td>
                        <td>{{i.regional5}}</td>
                        <td>{{i.regional6}}</td>
                        <td>{{i.regional7}}</td>
                        <td>{{i.regional8}}</td>
                        <td>{{i.regional9}}</td>
                        <td>{{i.regional10}}</td>
                        <td>{{i.regional11}}</td>
                        <td>{{i.grand_total}}</td>
                    </tr>

                    **START 4G**
                    <tr style="background:#a6a6a6">
                        <th>4G</th>
                        <th>0</th>
                        <th>1</th>
                        <th>33</th>
                        <th>0</th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>0</th>
                        <th>8</th>
                        <th>0</th>
                        <th>0</th>
                        <th>45</th>
                    </tr>
                    <tr *ngFor="let i of momTableNeedCheck4G">
                        <td>{{i.band}}</td>
                        <td>{{dateStr(i.date)}}</td>
                        <td>{{i.regional1}}</td>
                        <td>{{i.regional2}}</td>
                        <td>{{i.regional3}}</td>
                        <td>{{i.regional4}}</td>
                        <td>{{i.regional5}}</td>
                        <td>{{i.regional6}}</td>
                        <td>{{i.regional7}}</td>
                        <td>{{i.regional8}}</td>
                        <td>{{i.regional9}}</td>
                        <td>{{i.regional10}}</td>
                        <td>{{i.regional11}}</td>
                        <td>{{i.grand_total}}</td>
                    </tr> -->

                    <!-- <tr>
                        <td>Jan-18</td>
                        <td></td>
                        <td>5</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td></td>
                        <td>4</td>
                        <td></td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>REGIONAL3</td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jun-18</td>
                        <td>12</td>
                        <td>8</td>
                        <td></td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td>12</td>
                        <td>8</td>
                        <td></td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>REGIONAL11</td>
                        <td></td>
                        <td>5</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Jul-18</td>
                        <td>3</td>
                        <td>5</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td>1</td>
                        <td>4</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>REGIONAL11</td>
                        <td>2</td>
                        <td>1</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Aug-18</td>
                        <td>46</td>
                        <td>157</td>
                        <td>10</td>
                        <td>213</td>
                    </tr>
                    <tr>
                        <td>REGIONAL1</td>
                        <td>1</td>
                        <td>2</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>REGIONAL4</td>
                        <td></td>
                        <td>3</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>REGIONAL6</td>
                        <td>8</td>
                        <td>6</td>
                        <td>5</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>REGIONAL8</td>
                        <td>37</td>
                        <td>72</td>
                        <td>1</td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <td>REGIONAL9</td>
                        <td></td>
                        <td>74</td>
                        <td>4</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>Sep-18</td>
                        <td>356</td>
                        <td>359</td>
                        <td>54</td>
                        <td>769</td>
                    </tr>
                    <tr>
                        <td>REGIONAL3</td>
                        <td>265</td>
                        <td>147</td>
                        <td>42</td>
                        <td>454</td>
                    </tr>
                    <tr>
                        <td>REGIONAL7</td>
                        <td>54</td>
                        <td>62</td>
                        <td>6</td>
                        <td>122</td>
                    </tr>
                    <tr>
                        <td>REGIONAL8</td>
                        <td>37</td>
                        <td>74</td>
                        <td>1</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td>REGIONAL9</td>
                        <td></td>
                        <td>76</td>
                        <td>5</td>
                        <td>81</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>417</td>
                        <td>539</td>
                        <td>65</td>
                        <td>1021</td>
                    </tr> -->
                
                <!-- </table>
            </div> -->
            <!-- <div class="row r">
                <div>5. Terkait selisih data sysinfo dan asset (physical asset) akan di follow up lebih lanjut setelah selesai proses asset tagging oleh NAM</div>                
            </div> -->
            <div class="row" style="margin-top: 65px;">
                <h5 class="b7" style="width:100%">NOTE:</h5>
                <div>Untuk perhitungan jumlah NE 4G Indoor, mengikuti perhitungan BTS Macro dan berdasarkan jumlah BBU terinstall.</div>    
            </div>
            <div class="row r">
                <table style="margin-left:auto;margin-right:auto;width: 950px;">
                    <tr>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Hady Januardi</div>
                        </td>
                        
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>M Nurohman N</div>
                        </td>
                        
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Joy HT. Saragih</div>
                        </td>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Duta Wijaya</div>
                        </td>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Bambang A Widodo</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Deden Karmana</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Baskoro Adi Budiarjo</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Mohamad_ichsan</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Genta Buana</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Hartanto Lestiono</div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="b7" colspan="5" style="text-align:center;">Mengetahui</td>
                    </tr>
                    <tr>                        
                        <td colspan="2" style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Chairuddin</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Iswandi</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Cecep Riswandi</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Suharno</div>
                        </td>
                    </tr> -->
                </table>
            </div>
            <div class="row" style="margin-top: 3%;font-size: 12px;">
                <!-- <h5 class="b7" style="width:100%">NOTE:</h5> -->
                <div>*Dokumen ini Valid tanpa Tanda Tangan Karena Telah Dilengkapi Nomor Surat yang Spesifik</div>    
            </div>
        </div>
    </div>
    
</div>