table{
    border: solid 1px black;
  }
  
  th, .kiri, .totalBawah {
    font-weight: 700;
    text-align: center;
  }

  th {
    border: solid 1px black;
  }

  tr{
    border: solid 1px black;
  }
  
  td{
    border: solid 1px black;
  }

  .pdf-content-text{
      font-size: 15px;
  }

  .nodin-table1-data {
    /* width: 100%; */
    border-bottom: 1px solid;
    text-align: center;    
  }