<div style="background: grey; height: auto; padding: 10px;">
    <!-- <input type="button" value="CPTURE" (click)="printElem('tes')"/>   -->    
    <!-- <button onclick="window.print()"><i class="fas fa-print"></i> Print</button> -->
    <a o onclick="window.print()"class="btn btn-lg" style="
                color: #343a40;
                background-color: #fff;
                height: auto;
                padding: 1%;">
            <i class="fas fa-print"></i> Print
        </a>

    <button type="button" class="close pull-right" aria-label="Close" onclick="window.history.back()">
        <i class="fa fa-times mb-3 animated rotateIn"></i>
    </button>

    <div id="nodintes" class="container" style="width: 100%; height: 100%;background: white;color:black;">
        <div class="row">
           
            <div class="col-12">                
                <h4 style="
                font-style:italic;
                font-style: italic;
                color: black;
                font-weight: 640;
                float: right;">NOTA DINAS</h4>
            </div>
            <br>
            <br>

            <!-- bagian 1 -->
            <div class="col-12">
                <!-- <pdf-bag1 style="width:100%"></pdf-bag1> -->
                <div id="pdf-bag1" style="width:100%">
                    <div style="width:100%">
                        <div class="row">
                            <div class="col-1">Nomor</div>
                            <div class="col-1">:</div>
                            <div class="col-10">{{noNodin}}</div>
                        </div>
                        <div class="row">
                            <div class="col-1">Kepada</div>
                            <div class="col-1">:</div>
                            <div class="col-10">
                                <div *ngFor="let i of kepada">{{i}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">Dari</div>
                            <div class="col-1">:</div>
                            <div class="col-10">
                                <div *ngFor="let i of dari">{{i}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">Lampiran</div>
                            <div class="col-1">:</div>
                            <div class="col-10">{{lampiran}}</div>
                        </div>
                        <div class="row">
                            <div class="col-1">Perihal</div>
                            <div class="col-1">:</div>
                            <div class="col-10"><b>Pelaporan BTS On-air Telkomsel <span id="bulan"></span>  2019 (Periode 1- 31 <span id="bulan2"></span> 2019)</b></div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="pdf-content-text">            
            <!-- blaah -->
            <div class="col-12" style="margin-top: 23px;">
                <div>1. Merujuk pada :</div>
                <div style="padding-left: 18px;">
                    <paragraph-pdf [head]="'a. '" [text]="'Keputusan Direktur Network Perseroan No. 022/NF.01/NT-00/VI/2014 tertanggal 18 Juni 2014 tentang Kebijakan RAN Planning Guideline Direktur Network Perseroan.'"></paragraph-pdf>
                    <paragraph-pdf [head]="'b. '" [text]="'Keputusan Direksi Perseroan No. 003/FN.04/PD-00/III/2017 tanggal 10 Maret 2017 tentang Pedoman Pelaksanaan, Pengendalian Rencana Kerja dan Anggaran Tahun 2017.'"></paragraph-pdf>
                    <paragraph-pdf [head]="'c. '" [text]="'Nodin GM. RAN & CORE Network Deployment No. 062/TC.01/NL-11/VIII/'+year+' tertanggal 1 '+monthNow+' '+year+' tentang Pelaporan On Air New Site dan Modernisasi Bulan '+monthBefore+' '+year+'.'"></paragraph-pdf>
                    <paragraph-pdf [head]="'d. '" [text]="'MOM Laporan BTS On Air Bulan '+monthBefore+' '+year+' tertanggal 13 '+monthNow+' '+year+'.'"></paragraph-pdf>                    
                </div>
                
            </div>
            
            <!-- 2 -->
            <div class="col-12" style="margin-top: 20px;">
                <paragraph-pdf [head]="'2. '" [text]="'Sesuai hasil laporan poin 1.c dan 1.d dan data BTS hasil rekon Div. RAN Operation, pertumbuhan jumlah BTS dan site untuk periode 1-31 '+monthBefore+' '+year+' adalah sebagai berikut:'"></paragraph-pdf>
                <!-- <p>2. Sesuai hasil laporan poin 1.c dan 1.d dan data BTS hasil rekon Div. RAN Operation,
                        pertumbuhan jumlah BTS dan site untuk periode 1-31 {{monthBefore}} {{year}} adalah sebagai berikut:</p> -->
                <div style="padding-left: 18px;">
                    <table style="width: 675px;">  
                        <tr>
                          <th>Radio Network Capacity Built (Unit)</th>
                          <th *ngFor="let i of tablePdf1">{{dateStr(i.date)}}</th>
                        </tr>
                        <tr>
                          <td>
                            <div class="nodin-table1-data kiri">BTS 2G - On Air this year</div>
                            <div class="nodin-table1-data kiri">BTS 2G - Dismantled </div>
                            <div class="nodin-table1-data kiri">BTS 2G -Total On Air</div>
                            <div class="nodin-table1-data kiri">BTS 3G - On this year</div>
                            <div class="nodin-table1-data kiri">BTS 3G - Dismantled </div>
                            <div class="nodin-table1-data kiri">BTS 3G - Total On Air</div>
                            <div class="nodin-table1-data kiri">BTS 4G - On this year</div>
                            <div class="nodin-table1-data kiri">BTS 4G - Dismantled </div>
                            <div class="nodin-table1-data kiri">BTS 4G - Total On Air</div>
                            <div class="nodin-table1-data kiri">TRX - On Air this year</div>
                            <div class="nodin-table1-data kiri">TRX - Dismantled </div>
                            <div class="nodin-table1-data kiri">TRX - Total On Air</div>
                            <div class="nodin-table1-data kiri">Jumlah BTS (2G, 3G & 4G) </div>
                            <div class="nodin-table1-data kiri">Jumlah Site 2G Only</div>
                            <div class="nodin-table1-data kiri">Jumlah Site 3G Only</div>
                            <div class="nodin-table1-data kiri">Jumlah Site 4G Only </div>
                            <div class="nodin-table1-data kiri">Jumlah Site 2G 3G & 4G</div>
                            <div class="nodin-table1-data kiri">Total Jumlah Site </div>
                          </td>
                          <td *ngFor="let i of tablePdf1">
                              <div class="nodin-table1-data">{{valueToComma(i.onair_2g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.offair_2g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.total_2g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.onair_3g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.offair_3g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.total_3g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.onair_4g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.offair_4g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.total_4g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.onair_trx)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.offair_trx)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.total_trx)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.total_all)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.only_2g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.only_3g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.only_4g)}}</div>
                              <div class="nodin-table1-data">{{valueToComma(i.collocation)}}</div>
                              <div class="nodin-table1-data totalBawah">{{valueToComma(i.total_all_site)}}</div>
                          </td>   
                        </tr> 
                      </table>
                </div>        
                
            </div>

            <!-- 3 -->
            <div class="col-12" style="margin-top: 20px;">
                <paragraph-pdf [head]="'3. '" [text]="'Detail BTS On Air per Regional adalah sebagai berikut :'"></paragraph-pdf>
                <!-- <p>3. Detail BTS On Air per Regional adalah sebagai berikut :</p> -->
                <div style="padding-left: 18px;">
                    <table class="table-pdf">
                        <tr>
                            <th colspan="7" style="width:450px;text-align:center;">Resume SysInfo {{monthBefore}} {{year}}</th>                            
                        </tr>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Regional</th>
                            <th colspan="2">2G</th>
                            <th colspan="2">3G</th>
                            <th colspan="2">4G</th>
                        </tr>
                        <tr>
                            <th>BSC</th>
                            <th>BTS</th>
                            <th>RNC</th>
                            <th>NODEB</th>
                            <th>ENODEB</th>
                        </tr>
                        <tr *ngFor="let i of tablePdf2; let no=index" [attr.data-index]="no">
                            <td class="nodin-table1-data">{{no+1}}</td>
                            <th class="nodin-table1-data">{{valueToComma(i.regional)}}</th>
                            <td class="nodin-table1-data">{{valueToComma(i.data1)}}</td>
                            <td class="nodin-table1-data">{{valueToComma(i.data2)}}</td>
                            <td class="nodin-table1-data">{{valueToComma(i.data3)}}</td>
                            <td class="nodin-table1-data">{{valueToComma(i.data4)}}</td>
                            <td class="nodin-table1-data">{{valueToComma(i.data5)}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">TOTAL</th>
                            <th>{{valueToComma(tablePdf2Total.data1)}}</th>
                            <th>{{valueToComma(tablePdf2Total.data2)}}</th>
                            <th>{{valueToComma(tablePdf2Total.data3)}}</th>
                            <th>{{valueToComma(tablePdf2Total.data4)}}</th>
                            <th>{{valueToComma(tablePdf2Total.data5)}}</th>
                        </tr>
                    </table> 
                </div>                                  
            </div>
            
            <!-- 4 -->
            <!-- <div class="col-12" style="margin-top: 20px;">
                <p>4. Achievement New Site On Air periode September 2018 berkurang 3 NE dari 4470 menjadi 4467 karena
                    sudah pernah dilaporkan sebagai achievement periode sebelumnya.</p>
                <div style="padding-left: 18px;">
                    <table>
                        <tr>
                            <th>Region</th>
                            <th>SiteNo</th>
                            <th>Site Name</th>
                            <th>Band</th>
                            <th>Vendor</th>
                            <th>Remark</th>
                        </tr>
                        <tr *ngFor="let i of tablePdf3">
                            <td>{{i.region}}</td>
                            <td>{{i.data1}}</td>
                            <td>{{i.data2}}</td>
                            <td>{{i.data3}}</td>
                            <td>{{i.data4}}</td>
                            <td>{{i.data5}}</td>
                        </tr>
                    </table>
                </div>
            </div> -->

            <!-- 5 -->
            <div class="col-12" style="margin-top: 20px;">
                <paragraph-pdf [head]="'4. '" [text]="'Demikian kami sampaikan, atas perhatian dan kerjasamanya diucapkan terimakasih.'"></paragraph-pdf>
                <!-- <p>4. Demikian kami sampaikan, atas perhatian dan kerjasamanya diucapkan terimakasih.</p> -->
            </div>

            <!-- tempat tanggal -->
            <div class="col-12" style="margin-top: 40px;">
                <p>Jakarta, 15 {{monthNow}} {{year}}</p>
            </div>

            <!-- VP -->
            <div class="col-12" style="margin-top: 70px;">
                <b>Djoko S Kuntjoro</b>
                <div>VP Network Infrastructure Management</div>
            </div>

            <!-- tembusan -->

            <div class="col-12" style="margin-top: 40px;">
                <b>Tembusan:</b>
                <div *ngFor="let i of tembusan">{{i.no}}. {{i.person}}</div>
            </div>

            <!-- tempat tanggal -->
            <div class="col-12" style="margin-top: 40px;">
                <p>Jakarta, 15 {{monthNow}} {{year}}</p>
            </div>

            <!-- list person -->
            <div class="row col-12" style="margin-top: 40px;">
                <div class="col-6" *ngFor="let i of listPerson" style="margin-top:15px;">
                    <div>
                        <b>{{i.name}}</b>
                        <p>{{i.title}}</p>
                      </div>
                </div>                    
            </div>

            <!-- tembusan 2 -->
            <div class="col-12" style="margin-top: 40px;">
                <b>Tembusan:</b>
                <div *ngFor="let i of tembusan2">{{i.no}}. {{i.person}}</div>
            </div> 
        </div>
        </div>
    </div>
</div>