h1 {
    font-weight: bold;
}

.teks {
    font-size: 34px;
}

.besto {
    width: 41%;
    /* width: 85%; */
    position: relative;
    margin-left: 18%;

}
.besto:hover {
    opacity: 0.5 !important;
    cursor: pointer; 
     
}

.modal-header{
    color: #000;
    height: 70px;
    margin-bottom: -16px;
}

.ag-header{
    /* height: 30px */
}

 
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #222222;
    /* border-bottom: 5px solid blue; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 64%;
    top: 32%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}