


<button type="button" mdbBtn color="secondary" class="relative waves-light" 
(click)="basicModal.show()" mdbWavesEffect style="margin-top: -1%;">Upload Nodin</button>

<div mdbModal #basicModal = "mdbModal" class="modal fade right" tabindex="-1" role="dialog" 
aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <i class="fa fa-times mb-3 animated rotateIn"></i>
        </button>
        <!-- <h4 class="modal-title w-100" id="myModalLabel">Upload Nodin</h4> -->
        <mat-chip-list>
          <mat-chip color="primary" selected>please select your BTS NODE NAME before submitting</mat-chip>
        </mat-chip-list>
      </div>
      <div class="modal-body">
        <modal-table></modal-table>
        <input class="relative waves-light" #myInput multiple type="file" 
        (change)="fileUpload($event)" placeholder="Upload file" accept=".pdf" style="color:#000">
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="pink" class="waves-light" aria-label="Close" 
        (click)="basicModal.hide()" mdbWavesEffect>Cancel</button>
        <button type="button" mdbBtn color="dark-green" class="relative waves-light" 
        mdbWavesEffect (click)="submitNedin()">Submit!</button>
      </div>
    </div>
  </div>
</div>

<!--  -->
<!--  -->
<!--Carousel Wrapper-->
<!-- <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'slide'"> -->
    <!--First slide-->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <modal-table></modal-table>
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
        </div>
    </mdb-carousel-item> -->
    <!--/First slide-->
    <!--Second slide-->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <modal-table></modal-table>
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
        </div>
    </mdb-carousel-item> -->
    <!--/Second slide-->
    <!--Third slide-->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <modal-table></modal-table>
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-carousel-item> -->
    <!--/Third slide-->
<!-- </mdb-carousel> -->
<!--/.Carousel Wrapper-->
<!--  -->
<!--  -->